.features {
    margin: 3rem $margin-body-left 10rem $margin-body-left;
    text-align: center;

    &__h2 {
        @include h2;
        margin-bottom: 1.5rem;
    }

    &__text {
        margin: 0 auto 2.5rem auto;
        max-width: 50%;
    }

    &__tabs {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin: 0 auto;
        
        &--tab {
            width: 25%;
            padding: 1rem;
            cursor: pointer;
            border-bottom: 1px solid $medium-grayish-blue;

            &:hover {
                border-bottom: 3px solid $soft-red;
                margin-top: -2px;

                & > p {
                    transform: translateY(2.5px);
                }
            }

            &:first-of-type {
                margin-left: 12.5%;
            }

            &:last-of-type {
                margin-right: 12.5%;
            }
        }

        &--radio {
            display: none;
        }

        &--target {
            &-1,
            &-2,
            &-3 {
                display: none;
                width: 100vw;
                margin-top: 4rem;
                position: relative;
            }

            &-1::after {
                @include features-bg-blue(38vw, 22vw, -7rem);
            }

            &-2::after {
                @include features-bg-blue(38vw, 28vw, -8.5rem);
            }

            &-3::after {
                @include features-bg-blue(42vw, 28vw, -7rem);
            }
            
            &-img {
                width: 36vw;

                &-container {
                    height: 18rem;
                    width: 50%;
                }
            }

            &-container {
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                margin-left: 8vw;
            }
    
            &-h2 {
                @include h2;
            }
    
            &-text {
                text-align: left;
                margin: 1.5rem 0;
            }
    
            &-btn {
                @include btn($white, $soft-blue, .5rem 1rem);
            }
        }
    }
}

#tab-1:checked ~ .features__tabs--target-1,
#tab-2:checked ~ .features__tabs--target-2,
#tab-3:checked ~ .features__tabs--target-3 {
    display: flex;
}

#tab-1:checked ~ .features__tabs--target-2,
#tab-1:checked ~ .features__tabs--target-3,
#tab-2:checked ~ .features__tabs--target-1,
#tab-2:checked ~ .features__tabs--target-3,
#tab-3:checked ~ .features__tabs--target-1,
#tab-3:checked ~ .features__tabs--target-2 {
    display: none;
}

#tab-1:checked ~ #label-1,
#tab-2:checked ~ #label-2,
#tab-3:checked ~ #label-3 {
    border-bottom: 3px solid $soft-red;
    margin-top: -2px;

    & > p {
        transform: translateY(2.5px);
    }
}