*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-family: $font-family-default;
    font-size: $font-size-default;
    line-height: $line-height-default;
    color: $font-color-default;
    font-weight: $font-weight-400;

    @media only screen and (max-width: 800px) {
        font-size: 100%;
        line-height: 1.5rem;
    }
}

body {
    box-sizing: border-box;
}