.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem $margin-body-left 6rem $margin-body-left;

    @media only screen and (max-width: 600px) {
        margin: 2rem .5rem 4rem .5rem;
    }

    @media only screen and (max-width: 400px) {
        flex-direction: row-reverse;
        margin: 2rem;
    }

    &__logo {
        flex-basis: 60%;
        z-index: 200;
        display: flex;
        align-items: center;

        @media only screen and (max-width: 1020px) {
            flex-basis: 40%;
        }

        @media only screen and (max-width: 600px) {
            flex-basis: 20%;
        }

        &--logo {
            width: 148px;
            height: 25px;
            --color-letters: #242A45;
            --color-circle: #5267DF;
            --color-icon: #FFF;
            cursor: pointer;

            @media only screen and (max-width: 500px) {
                width: 120px;
            }

            @media only screen and (max-width: 400px) {
                width: 148px;
            }
        }
    }

    &__menu {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-basis: 40%;

        @media only screen and (max-width: 1020px) {
            flex-basis: 50%;
        }

        @media only screen and (max-width: 800px) {
            flex-basis: 60%;
        }

        @media only screen and (max-width: 600px) {
            flex-basis: 80%;
        }

        @media only screen and (max-width: 400px) {
            display: none;
        }
    }

    &__list {
        min-width: 70%;
        list-style-type: none;
        color: $very-dark-blue;
        font-size: .8rem;
        margin-right: 2vw;

        &--item {
            display: inline;
            text-transform: uppercase;

            &:hover {
                color: $soft-red;
                cursor: pointer;
            }

            &:not(:first-child) {
                margin-left: 2vw;
            }
        }
    }

    &__btn {
        @include btn($white, $soft-red, .5rem 1.7rem);
        text-transform: uppercase;

        @media only screen and (max-width: 800px) {
            padding: .5rem .5rem
        }
    }

    &__burger {
        display: none;

        @media only screen and (max-width: 400px) {
            display: block;
        }
    }

    &__checkbox,
    &__close {
        display: none;
    }

    &__close {
        transform: scale(1.5, 1);
    }
}

#toggle:checked ~ .nav__logo > .nav__logo--logo {
    --color-letters: #FFF;
    --color-circle: #FFF;
    --color-icon: #242A45;
}

#toggle:checked ~ .nav__menu {
    display: block;
    min-width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: hsla(229, 31%, 21%, .95);
    text-align: center;
    z-index: 100;

    &::after {
        content: "";
        position: absolute;
        bottom: 2rem;
        left: 36%;
        padding: 14%;
        background: url('../images/icon-facebook.svg') no-repeat bottom left, url('../images/icon-twitter.svg') no-repeat bottom right;
    }
}

#toggle:checked ~ .nav__menu > .nav__list {
    margin-top: 6rem;
}

#toggle:checked ~ .nav__menu > .nav__list > .nav__list--item {
    display: block;
    width: 80%;
    position: relative;
    font-size: 140%;
    color: $white;
    margin: 0 auto;
    padding: 1rem 0;
    border-top: .1px solid $grayish-blue;

    &:last-child {
        border-bottom: .1px solid $grayish-blue;
    }
}

#toggle:checked ~ .nav__menu > .nav__btn {
    @include btn ($white, transparent, .5rem 31%);
    font-size: 1.3rem;
    margin-top: 2rem;
    border: .1rem solid $white;
    box-shadow: none;
}

#toggle:checked ~ .nav__close {
    display: block;
    color: $white;
    z-index: 500;
    margin: 0 .5rem 0 auto;
}